<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>500</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css">
</head>
    <div class="container" style="max-width: 600px;margin-top:50px;">

        <div class="jumbotron">
            <h2>Error</h2>
            <p>對不起，服務異常，請聯繫管理員</p>
        </div>

        <div th:utext="'&lt;!--'" th:remove="tag"></div>
        <div th:utext="'Failed Request URL : ' + ${url}"></div>
        <div th:utext="'Exception message : ' + ${exception.message}"></div>
        <ul th:remove="tag">
            <li th:each="st : ${exception.stackTrace}"><span th:text="${st}"></span></li>
        </ul>
        <div th:utext="'--&gt;'" th:remove="tag"></div>
    </div>
<body>

</body>
</html>