<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Book details</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <!-- Latest compiled and minified CSS -->
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"-->
<!--          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
</head>
<body th:object="${book}">

        <div class="container">

            <h2 class="page-header" style="margin-top:50px">Details</h2>
            <div class="well">
                <p>
                    <strong>書名：</strong><span th:text="*{name}">我們兩</span>
                </p>

                <p>
                    <strong>作者：</strong><span th:text="*{author}">我們作者</span>
                </p>

                <p>
                    <strong>說明：</strong><span th:text="*{description}">我是說明</span>
                </p>

                <p>
                    <strong>狀態：</strong>
                    <span th:switch="*{status}">
                        <span th:case="0">想讀</span>
                        <span th:case="1">在讀</span>
                        <span th:case="2">已讀</span>
                    </span>

                </p>


            </div>

            <div class="alert alert-success" th:unless="*{status == 0}">
                <strong>Good!</strong>, you are doing ...
            </div>

            <div class="alert alert-warning" th:if="*{status == 0}">
                <strong>Watch out!</strong>, you haven't done yet ...
            </div>

            <a href="javascript:history.go(-1)" class="btn btn-default">返回</a>
        </div>

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

        <!-- Latest compiled and minified JavaScript -->
<!--        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"-->
<!--                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"-->
<!--                crossorigin="anonymous"></script>-->
</body>
</html>