<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
</head>
<body>

        <div class="container">
            <h2 class="page-header">書單列表</h2>
            <div class="alert alert-success alert-dismissable fade in" th:unless="${#strings.isEmpty(message)}">
                <a href="#" class="close" data-dismiss="alert">&times;</a>
                <strong>恭喜, </strong>
                <span th:text="${message}">訊息提交成功</span>
            </div>
            <p class="text-right"><a href="#" th:href="@{/books/input}" class="btn btn-primary">新增</a></p>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>書名</th>
                    <th>作者</th>
                    <th>說明</th>
                    <th>狀態</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
<!--             iterStat
                    count:計數
                    index:索引
                    size:列表總數
                    event/odd: 複數/基數
                    first/last: 第一條或最後一條
-->

<!--                <tr th:each="book, iterStat:${books}" th:class="${iterStat.even} ? 'bg-success'">-->
                <tr th:each="book, iterStat:${books}">
                    <td th:text="${iterStat.count}">1</td>
<!--                    <td ><a th:text="${book.name}" th:href="@{/books/{id}(id=${book.id})}">書名</a></td>-->
                    <td ><a th:text="${book.name}" th:href="@{'/books/' + ${book.id}}">書名</a></td>
                    <td th:text="${book.author}">作者</td>
                    <td th:text="${book.description}">說明</td>
                    <td th:switch="${book.status}">
                        <span th:case="0">想讀</span>
                        <span th:case="1">再讀</span>
                        <span th:case="2">已讀</span>
                        <span th:case="*">未讀</span>
                    </td>

                    <td>
                        <a href="#" th:href="@{/books/{id}/input(id=${book.id})}">更新</a>
                    </td>
                </tr>

                </tbody>

            </table>

        </div>


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

</body>


</html>