<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="UTF-8">
    <title>Title</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="max-width: 700px; margin-top: 50px;">

        <h2 class="page-header">新增書單</h2>
        <div class="well">
            <form action="#" th:action="@{/books}" th:object="${book}" method="post">
                <input type="hidden" th:value="*{id}" name="id">
                <div class="form-group">
                    <label for="nameId">書名</label>
                    <input type="text" name="name" id="nameId" class="form-control" th:field="*{name}">
                </div>

                <div class="form-group">
                    <label for="authorId">作者</label>
                    <input type="text" name="author" id="authorId" class="form-control" th:field="*{author}">
                </div>

                <div class="form-group">
                    <label for="descriptionId">說明</label>
                    <input type="text" name="description" id="descriptionId" th:field="*{description}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="statusId">狀態</label>
                    <select name="status" id="statusId" class="form-control">
                        <option value="0" th:selected="(*{status} == '0')">想讀<span th:text="*{status}"></span></option>
                        <option value="1" th:selected="(*{status} == '1')">在讀</option>
                        <option value="2" th:selected="(*{status} == '2')">已讀</option>
                    </select>
                </div>
                <p class="text-center">
                    <button type="submit" class="btn btn-primary">提交</button>
                </p>
            </form>
        </div>


    </div>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script th:src="@{/js/bootstrap.min.js}" src="../static/js/bootstrap.min.js"></script>

</body>
</html>